In [2]:
abc=[12, 13, 15, 16, 18, 19]

In [53]:
abc[-5:-1]

[13, 15, 16, 18]

In [54]:
abc[2:4]

[15, 16]

In [9]:
abc[-5:-1:2]

[13, 16]

#Tuples are immutable and list are mutable

# Tuples

In [11]:
abc=(3, 4, 5, 6, 7, 8)

In [12]:
type(abc)

tuple

In [10]:
len(abc)

7

In [13]:
abc[2]

5

In [14]:
abc[2:5]

(5, 6, 7)

In [16]:
#packing and unpacking in tuple is list and tupples

In [17]:
a=("asad", "fatima", "sara", "kiran")
#packing

In [18]:
w,x,y,z=a

In [19]:
x

'fatima'

In [20]:
y

'sara'

In [24]:
rectangle=[100,90]
#packing & unpacking in list

In [25]:
height,weight= rectangle

In [26]:
height

100

In [27]:
weight

90

# FOR LOOPS

In [28]:
#task print your name ten times

In [29]:
print('faryal')
print('faryal')
print('faryal')
print('faryal')
print('faryal')
print('faryal')
print('faryal')

faryal
faryal
faryal
faryal
faryal
faryal
faryal

In [34]:
#by using loop time complexity increases and code complexity

In [33]:
for a in range(5):
    print(a,'faryal')

0 faryal
1 faryal
2 faryal
3 faryal
4 faryal

In [32]:
#here in for loop code is reduced but it is complex

In [13]:
for a in range(2,5):
    print(a,'farya')

2 farya
3 farya
4 farya

In [37]:
for a in range(1,10,2):
    print(a,'farya')

1 farya
3 farya
5 farya
7 farya
9 farya

In [42]:
for a in range(0,10,2):
    print(a,'sara')

0 sara
2 sara
4 sara
6 sara
8 sara

In [16]:
for a in range(10,1,-2):
    print(a,'faryal')

10 faryal
8 faryal
6 faryal
4 faryal
2 faryal

In [12]:
for a in range(10,0,-1):
    print(a,'faryal')

10 faryal
9 faryal
8 faryal
7 faryal
6 faryal
5 faryal
4 faryal
3 faryal
2 faryal

In [14]:
my_list= ['sara', 'ali', 'sana']
for i in my_list:
    print(i)

sara
ali
sana

In [66]:
my_num= [2,4,6,8,10]
for i in my_num:
    print(i*2)

4
8
12
16
20

In [69]:
my_num= [2,4,6,8,10]
my_new_list=[]
for i in my_num:
    my_new_list.append(i*2)
print(my_new_list)

[4, 8, 12, 16, 20]

In [17]:
my_num= [2,4,6,8,10]
my_new_list=[]
for i in my_num:
    my_new_list.append(i*2)
    print(my_new_list)

[4]
[4, 8]
[4, 8, 12]
[4, 8, 12, 16]
[4, 8, 12, 16, 20]

In [4]:
for i in range(6):
    print(i)
    if i==3:
        print(i*2)

0
1
2
3
6
4
5

In [74]:
#break
#continue
#pass

In [23]:
for i in range(10):
    if i==3:
        break
    print(i)
    #it breaks the loop

0
1
2

In [77]:
for i in range(10):
    if i==3:
        continue
    print(i)
    #it will skip the given value at if and then continue

0
1
2
4
5
6
7
8
9

In [26]:
for i in range(5):
    pass
#when loop body is not decided.write pass

In [80]:
#task: Take input from user and print table of that number in the following format 
#2*1=2

In [92]:
user=int(input('input your number'))
for i in range(1,11):
    print(f'{user}*{i}={user*i}')

input your number2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

In [35]:
for a in 'pakistan':
    for b in range(5):
        print(a,b)

p 0
p 1
p 2
p 3
p 4
a 0
a 1
a 2
a 3
a 4
k 0
k 1
k 2
k 3
k 4
i 0
i 1
i 2
i 3
i 4
s 0
s 1
s 2
s 3
s 4
t 0
t 1
t 2
t 3
t 4
a 0
a 1
a 2
a 3
a 4
n 0
n 1
n 2
n 3
n 4

In [21]:
for a in 'pakistan':
    for b in range(5):
        print(a,b,end='')

p 0p 1p 2p 3p 4a 0a 1a 2a 3a 4k 0k 1k 2k 3k 4i 0i 1i 2i 3i 4s 0s 1s 2s 3s 4t 0t 1t 2t 3t 4a 0a 1a 2a 3a 4n 0n 1n 2n 3n 4

In [96]:
for a in 'pakistan':
    for b in range(5):
        print(a, end=' ')

p p p p p a a a a a k k k k k i i i i i s s s s s t t t t t a a a a a n n n n n

In [20]:
for a in 'pakistan':
    for b in range(5):
        print(a,end=' ')

p p p p p a a a a a k k k k k i i i i i s s s s s t t t t t a a a a a n n n n n

In [98]:
f_name=['faryal','bismillah', 'rabia','zainab']

In [99]:
l_name=['ajaz', 'naeem', "shabaz"]

In [101]:
full_name=[]
for f in f_name:
    for l in l_name:
        full_name.append(f+" "+l)
full_name

['faryal ajaz',
 'faryal naeem',
 'faryal shabaz',
 'bismillah ajaz',
 'bismillah naeem',
 'bismillah shabaz',
 'rabia ajaz',
 'rabia naeem',
 'rabia shabaz',
 'zainab ajaz',
 'zainab naeem',
 'zainab shabaz']

In [112]:
#Slicing

In [116]:
sl_str= 'Pakistn'

In [117]:
sl_str[4]

's'

# Dictionaries

In [4]:
#dictionary works in key  value pair
adict={}

In [5]:
type(adict)

dict

In [6]:
len(adict)

0

In [7]:
#adding values to dictionary
adict['name']= 'faryal'
adict['age']= 23

In [8]:
adict

{'name': 'faryal', 'age': 23}

In [9]:
adict['help']=123
adict

{'name': 'faryal', 'age': 23, 'help': 123}

In [10]:
adict['name']

'faryal'

In [11]:
del adict['age']

In [12]:
adict

{'name': 'faryal', 'help': 123}

In [13]:
adict['age']= 23
adict['city']= 'karachi'

In [14]:
adict

{'name': 'faryal', 'help': 123, 'age': 23, 'city': 'karachi'}

In [15]:
#keys()
#values()
#

In [16]:
for keys in adict.keys():
    print(keys)

name
help
age
city

In [17]:
for val in adict.values():
    print(val)

faryal
123
23
karachi

In [18]:
for k,v in adict.items():
    print(k,v)
    #remember first variable me me keys pehle then values next varaible aegae

name faryal
help 123
age 23
city karachi

In [19]:
#W3schools

# Creating listt in dictionaries

In [23]:
eklist= [1, 2, 3, {'name':'faryal','food':'biryani'}]
eklist

[1, 2, 3, {'name': 'faryal', 'food': 'biryani'}]

In [24]:
eklist[3]['food']

'biryani'

In [2]:
d={'names':['asad','saad']}

In [3]:
d['names'][1]

'saad'

# Practice

In [7]:
customer_786={
    'first_name':'faryal',
    'last_name':'naeem',
    'address':'defence',
}

In [9]:
customer_786['job']='banking'
customer_786['hobby']='reading'
customer_786

{'first_name': 'faryal',
 'last_name': 'naeem',
 'address': 'defence',
 'job': 'banking',
 'hobby': 'reading'}

In [10]:
del customer_786['hobby']

In [11]:
customer_786

{'first_name': 'faryal',
 'last_name': 'naeem',
 'address': 'defence',
 'job': 'banking'}

In [17]:
for each_value,each_key in customer_786.items():
    print(each_value,":",each_key)

first_name : faryal
last_name : naeem
address : defence
job : banking

In [18]:
#chap 34

In [33]:
students= [
    {
            'student_id':0,
            'f_name':'faryal',
            'l_name':'naeem',
            'class':'BE',
    },
    {
            'student_id':1,
            'f_name':'bisma',
            'l_name':'naeemm',
            'class':'BDS',       
    },
]
students

[{'student_id': 0, 'f_name': 'faryal', 'l_name': 'naeem', 'class': 'BE'},
 {'student_id': 1, 'f_name': 'bisma', 'l_name': 'naeemm', 'class': 'BDS'}]

In [34]:
customers = [
{
"customer id": 0,
"first name":"John",
"last name": "Ogden",
"address": "301 Arbor Rd.",
},
{
"customer id": 1,
"first name":"Ann",
"last name": "Sattermyer",
#******ebook converter DEMO Watermarks*******
"address": "PO Box 1145",
},
{
"customer id": 2,
"first name":"Jill",
"last name": "Somers",
"address": "3 Main St.",
},
]
customers

[{'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.'},
 {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145'},
 {'customer id': 2,
  'first name': 'Jill',
  'last name': 'Somers',
  'address': '3 Main St.'}]

In [35]:
#chapter 35

In [36]:
#assign for dict name  #listName #indexNo
dict_to_look_in = students[1]
last_name=dict_to_look_in['l_name']
#last code is same like  we use to do in dictionary to pick any value

In [37]:
print(last_name)

naeemm

In [31]:
#chapter 36...How to append a new dictionary to a
#list of dictionaries

In [38]:
new_student_id=len(students)
new_f_name='Rabiia'
new_l_name='naeeem'
new_class='MBBS'

In [39]:
dict_new={
    'student_id':new_student_id,
    'f_name':new_f_name,
    'l_name':new_l_name,
    'class':new_class,
}

In [40]:
students.append(dict_new)
students

[{'student_id': 0, 'f_name': 'faryal', 'l_name': 'naeem', 'class': 'BE'},
 {'student_id': 1, 'f_name': 'bisma', 'l_name': 'naeemm', 'class': 'BDS'},
 {'student_id': 2, 'f_name': 'Rabiia', 'l_name': 'naeeem', 'class': 'MBBS'}]