# if statement

In [6]:
a = 10
b= 20

In [7]:
a>b

False

In [13]:
if a>b:
    print("it is true")
    print("it is true")
else:
    print("your value is greater")

your value is greater

In [18]:
a = 5
b = 6
if a>b:
    print("your a value is less than b")
else:
    print("your a value is greater")

your a value is greater

In [19]:
if a + b == 11:
    print("good")
else:
    print("wrong")

good

In [1]:
temp =input()

23

In [1]:
temp = int(input("Enter your temperature value:"))#type caste
if temp>30:
    print("the temp is hot today")
else:
    print("the temp is normal today")

Enter your temperature value:20
the temp is normal today

# Nested if's

In [7]:
cnic = input("Do you have your cnic:")
if cnic == 'yes':
    print("you can go in")
    nameInList = input("Is your name in list")
    if nameInList == 'yes':
        print("caste your vote")
    else:
        print("you can not caste vote")
else:
    print("you can not caste vote")

Do you have your cnic:yes
you can go in
Is your name in listyes
caste your vote

In [ ]:
education@piaic.org

# if elif else

In [5]:
marks = int(input("enter your marks:"))
grade = " "
if marks >=90:
    grade="A*"
elif marks >=80:
    grade="A"
elif marks >=70:
    grade="B"
elif marks >=60:
    grade="C"
else:
    print("you are ungraded try again.your marks are 50 or less than 50 and your grade is F")
print(f"your marks are {marks} and your grade is {grade}")

enter your marks:50
you are ungraded try again.your marks are 50 or less than 50 and your grade is F
your marks are 50 and your grade is

In [9]:
# even_no= int(input("enter your value:"))
# b=even_no%2
# if b == 2:
#     print("value is even") by control forward slash,for para comments use single quote

enter your value4

In [9]:
cnic = input("do you have cnic:")
nameInList =input("is your name in list:")
if cnic == 'yes' and nameInList == 'yes':
    print('please caste your vote')
else:
    print('you cannot vote')
# and is same as if meansevery condition should be true,,or is same as elif statement means kuj b aik theek hojae condition

do you have cnic:yes
is your name in list:yes
please caste your vote

# Lists

In [1]:
students = ["fatima", "asad", "subhan"]
students[1]
#list can hold multiple data type ...and sizis not define
#list is also a sub data type

'asad'

In [3]:
type (students)

list

In [ ]:
a= ['baba', 12, "true"]

In [17]:
students.append("faryal")

In [18]:
students

['fatima', 'asad', 'subhan', 'faryal']

In [19]:
students.insert(2,"nana")

In [20]:
students

['fatima', 'asad', 'nana', 'subhan', 'faryal']

In [21]:
del students[0]

In [22]:
students

['asad', 'nana', 'subhan', 'faryal']

In [24]:
students[2]="haha"#replace object

In [25]:
students

['asad', 'nana', 'haha', 'faryal']

In [10]:
studentss=['nana', 'nani', 'dada', 'dadi'] 
#insert
studentss.insert(1,'fatima') #to check signature shift+tab
studentss

['nana', 'fatima', 'nani', 'dada', 'dadi']

In [12]:
studentss.insert(100,"amna")
studentss

['nana', 'fatima', 'nani', 'dada', 'dadi', 'amna', 'amna']

In [13]:
studentss.index('dadi')#to find the indeex no of string

4

In [1]:
cities = ['karachi', 'lahore', 'islamabad', 'sukhar']

In [2]:
cities.append('karachi')

In [3]:
cities

['karachi', 'lahore', 'islamabad', 'sukhar', 'karachi']

In [23]:
cities.remove('lahore')
cities

['karachi', 'islamabad', 'sukhar', 'karachi']

In [24]:
cities.remove('karachi')
cities

['islamabad', 'sukhar', 'karachi']

In [31]:
numbers= [11, 7, 13, 14, 9, 100]
numbers

[11, 7, 13, 14, 9]

In [32]:
numbers.sort()
numbers

[7, 9, 11, 13, 14]

In [4]:
marks= [88, 77, 66, 100]
marks

[88, 77, 66, 100]

In [5]:
list2= marks# passed by refrence

In [6]:
del marks[2]
list2

[88, 77, 100]

In [7]:
list3= list2.copy()#passed by value

In [8]:
list3

[88, 77, 100]

In [9]:
list2.append(499)

In [10]:
list2

[88, 77, 100, 499]

In [11]:
list3#hence change in one cannot effect other much

[88, 77, 100]

In [12]:
list2

[88, 77, 100, 499]

In [13]:
list2.reverse()
list2

[499, 100, 77, 88]

In [30]:
list_79 = [1, 2, 44, 65, 100, 89]
list_79.sort(reverse=True)
print(list_79)

[100, 89, 65, 44, 2, 1]

In [48]:
list2.clear()

In [49]:
list2

[]

# pop

In [31]:
numbers= [20,30,40,50,60,70]

In [32]:
x=numbers.pop()
print(x)
print(numbers)

70
[20, 30, 40, 50, 60]

In [46]:
numbers= [20,30,40,50,60,70]

In [47]:
poppedList= []

In [45]:
poppedElement= numbers.pop()
poppedList.append(poppedElement)
print(numbers)
print(poppedList)

[20, 30, 40, 50, 60]
[70]

In [49]:
if len(numbers) != 0:
    poppedList.append(numbers.pop())
    print(numbers)
    print(poppedList)
else:
    print('your list is empty')

[20, 30, 40, 50]
[70, 60]

# list in list

In [108]:
list4= [19, 20, ['karachi', 'quetta', 'orange']]
list4

[19, 20, ['karachi', 'quetta', 'orange']]

In [109]:
list4[2][2]

'orange'

In [56]:
fruits= ['orange', 'peach', 'banana', 'apple']

In [57]:
studentss=['nana', 'nani', 'dada', 'dadi']

In [58]:
abc=[12, 13, 3,studentss, fruits, 'abcd']
abc

[12,
 13,
 3,
 ['nana', 'nani', 'dada', 'dadi'],
 ['orange', 'peach', 'banana', 'apple'],
 'abcd']

In [59]:
del abc[4][3]

In [167]:
abc

[12,
 13,
 3,
 ['nana', 'fatima', 'nani', 'dada', 'dadi', 'amna', 'amna'],
 ['orange', 'peach', 'banana'],
 'abcd']

In [168]:
abc[4].remove('banana')
abc

[12,
 13,
 3,
 ['nana', 'fatima', 'nani', 'dada', 'dadi', 'amna', 'amna'],
 ['orange', 'peach'],
 'abcd']

In [169]:
del abc[3][1]
abc

[12,
 13,
 3,
 ['nana', 'nani', 'dada', 'dadi', 'amna', 'amna'],
 ['orange', 'peach'],
 'abcd']

In [170]:
abc

[12,
 13,
 3,
 ['nana', 'nani', 'dada', 'dadi', 'amna', 'amna'],
 ['orange', 'peach'],
 'abcd']

# slicing

In [5]:
#inde     -5   -4  -3 -2  -1
numbers= [20, 30, 40, 50, 60, 70]
#index    0   1    2    3   4

In [6]:
numbers[1:3]#include: not included

[30, 40]

In [7]:
print(numbers)
numbers[1:4:2]#taking one step

[20, 30, 40, 50, 60, 70]

[30, 50]

In [8]:
print(numbers)
numbers[1:4:2]#left to  right

[20, 30, 40, 50, 60, 70]

[30, 50]

In [184]:
numbers[:]

[20, 30, 40, 50, 60, 70]

In [179]:
numbers[:4]

[20, 30, 40, 50]

In [180]:
numbers[1:]

[30, 40, 50, 60, 70]

In [181]:
numbers[4:1]#no error but no result bcz

[]

In [183]:
print(numbers)
numbers[-3:-1]

[20, 30, 40, 50, 60, 70]

[50, 60]

In [187]:
print(numbers)
numbers[-5:-1]#right to left in negative slicing

[20, 30, 40, 50, 60, 70]

[30, 40, 50, 60]

In [3]:
marks = int(input("enter your marks:"))
grade = " F"
if marks >=90:
    grade="A*"
elif marks >=80:
    grade="A"
elif marks >=70:
    grade="B"
elif marks >=60:
    grade="C"
else:
    print("you are ungraded try again.your marks are 50 or less than 50 and your grade is F")
print(f"your marks are {marks} and your grade is {grade}")

enter your marks:50
you are ungraded try again.your marks are 50 or less than 50 and your grade is F
your marks are 50 and your grade is  F