In [2]:
def sum_of_num(first_no, second_no):
    total = first_no + second_no
    print(total)

In [3]:
sum_of_num(10,12)

22

In [16]:
def greeting(greet):
    print(greet)

In [18]:
saying= 'hi'
greeting(saying)

hi

In [22]:
def couple_name(wife_name, husband_name):
    print(wife_name+" is wife of " + husband_name)

In [23]:
couple_name(wife_name= 'Aisha', husband_name= 'Ali')

Aisha is wife of Ali

In [2]:
def calc_tax(sales_tax, tax_rate= 0.04):
    tax= sales_tax * tax_rate
    print(tax)

In [3]:
calc_tax(110)

4.4

In [4]:
calc_tax(110, 0.07)

7.700000000000001

In [43]:
customers = {
    0 : {
        "name" : 'faryal',
        'age' : 23,
    },
    1 : {
        'name' : 'ajaz',
        'age'  : 19,
    },
}

In [44]:
def customers_info(dict_name, inner_dict, value):
    print(dict_name[inner_dict][value])

In [46]:
customers_info(customers, 1, 'age')

19

In [56]:
a= {'odd' :[1, 2, 3, 4, 5],
    'even' :[6, 7, 8, 9],
   }
def get_value(dict_name,index_no):
    print(dict_name[index_no])

In [58]:
get_value(a, 'odd' )

[1, 2, 3, 4, 5]

In [84]:
def  new_order(flavor, topping, **extra_order):
    print(flavor+ " "+topping )
    for key, value in extra_order.items():
        print(key + ': '+ value )

In [85]:
new_order('tikka', 'cheeze', timming = '8 oclock', price = '400')

tikka cheeze
timming: 8 oclock
price: 400

In [91]:
def numbers(first_num, second_num, *opt_no):
    print(first_num)
    print(second_num)
    print(opt_no)

In [92]:
numbers(10, 19, 18, 19)

10
19
(18, 19)

In [109]:
def calc_tax(sales_tax, tax_rate= 0.04):
    tax= sales_tax * tax_rate
    return tax

In [110]:
final= calc_tax(109)
print(final)

4.36

In [114]:
def calc_tax(sales_tax, tax_rate= 0.04):
    return sales_tax*tax_rate

In [115]:
print(calc_tax(109))

4.36

In [122]:
def add_num(first_no, second_no):
    return first_no + second_no 
def sub_no(first_no , second_no):
    return first_no - second_no

In [123]:
sum_of_no = add_num(1, 2) + sub_no(4, 2)
print(sum_of_no)

5

In [124]:
#local # global var

In [125]:
def whatever():
    y = 2
    print(y)
y = 1
whatever()
print(y)

2
1

In [17]:
def greeting(saying):
        print(saying)
def say_something():
    whatever = 'Hi'
    greeting(whatever)

In [18]:
say_something()

Hi