In [4]:
toppings=["Extra cheeze", "less cheeze", "Extra chicken", "less kechup"]
flavours=["Tikka", "Peperoni", "Fajita", "Afghani tikka"]
pizza=[]
for each_topping in toppings:
    for each_flavour in flavours:
        pizza.append(each_topping+ " "+ each_flavour)
print(pizza)

['Extra cheeze Tikka', 'Extra cheeze Peperoni', 'Extra cheeze Fajita', 'Extra cheeze Afghani tikka', 'less cheeze Tikka', 'less cheeze Peperoni', 'less cheeze Fajita', 'less cheeze Afghani tikka', 'Extra chicken Tikka', 'Extra chicken Peperoni', 'Extra chicken Fajita', 'Extra chicken Afghani tikka', 'less kechup Tikka', 'less kechup Peperoni', 'less kechup Fajita', 'less kechup Afghani tikka']

In [1]:
a,b = 10,13

In [2]:
print(a,b)

10 13

In [3]:
a,b

(10, 13)

In [4]:
4/2

2.0

In [5]:
4//2

2

In [6]:
#pemdas is followed

In [7]:
1//3

0

In [8]:
(3**2+2)+2

13

In [9]:
3*2**(2+3)-6

90

In [10]:
3*32

96

In [11]:
15%2

1

In [12]:
#ans

In [ ]:
1 =yes
2 =b
3 d
4 b

In [13]:
print(4.0/4.0)

1.0

In [14]:
x=2+9*((3*12)-8)

In [16]:
a= 0.3
b= 0.4
print("{:.1} {:.1}".format(a,b))

0.3 0.4

In [1]:
#not True ko false kardega and not false ko true kardega

In [2]:
3 % 5

3

In [3]:
5 % 3

2

In [4]:
3 / 5

0.6

In [5]:
3  %5

3

In [6]:
not(10<20) and not(10>30)

False

In [22]:
list_1 = list()

TypeError: 'list' object is not callable

In [16]:
print(list)

[]

In [17]:
list

[]

In [19]:
list = []
list

[]

In [24]:
list1 = list()

TypeError: 'list' object is not callable

In [27]:
list1 = list([1, 2, 3])

TypeError: 'list' object is not callable

In [30]:
 list = ("hello")
list

'hello'

In [31]:
list1 = ["h", "e", "l", "l", "o"]

In [32]:
len(list1)

5

In [33]:
list1 = [12, 13, 454,24524]

In [35]:
max(list1)

24524

In [42]:
list2 = [2, 33, 222, 14, 25]
list2[:-1]

[2, 33, 222, 14]

In [43]:
list2 = [2, 33, 222, 14, 25]
print(list2[:-2])

[2, 33, 222]

In [44]:
list2 = [2, 33, 222, 14, 25]
print(list2[0])

2

In [56]:
names = ['Amir', 'Bear', 'Charlton', 'Daman']
print(names[-2][-8])

C

names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]
 
names2[0] = 'Alice'
names3[1] = 'Bob'
 
sum = 0
for ls in (names1, names2, names3):
if ls[0] == 'Alice':
     sum += 1
if ls[1] == 'Bob':
      sum += 10

Print(sum)

In [79]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1 
names3 = names1[:]

names2[0] = 'Alice' 
names3[1] = 'Bob'

sum = 0 
for ls in (names1, names2, names3):
    if ls[0] == 'Alice': 
        sum += 1 
    if ls[1] == 'Bob':
        sum += 10

print(sum)

12

In [80]:
names2

['Alice', 'Bear', 'Charlton', 'Daman']

In [81]:
names1

['Alice', 'Bear', 'Charlton', 'Daman']

In [82]:
names3

['Amir', 'Bob', 'Charlton', 'Daman']

In [86]:
list1=[1,2,3]
list1*2

[1, 2, 3, 1, 2, 3]

In [92]:
list1 = [0.5 * x for x in range(0, 4)]

In [93]:
list1

[0.0, 0.5, 1.0, 1.5]

In [102]:
list1 = [11, 2, 23]
list2 = [11, 2, 2]
list1 < list2

False

In [98]:
len(list1)

3

In [101]:
len(list2)

3

In [103]:
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8]
print(len(list1 + list2))

8

In [105]:
a=[14,52,7] 
b=a.copy()

In [106]:
b

[14, 52, 7]

In [107]:
a=[13,56,17] 
a.append([87]) 
a.extend([45,67]) 
print(a)

[13, 56, 17, [87], 45, 67]

In [3]:
print((45)*4)

180

In [9]:
a=list((45,)*4) 
print((45)*4) 
print(a)

180
[45, 45, 45, 45]

In [10]:
list

list

In [18]:
word1="Apple" 
word2="Apple" 
list1=[1,2,3] 
list2=[1,2,3] 
print(word1 is word2) 
print(list1 is list2)

True
False

In [14]:
list1==list2

True

In [13]:
list2

[1, 2, 3]

In [19]:
 [(x**2) for x in range(0, 13)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [23]:
[(x**2) for x in range(1, 13)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [28]:
[(2**x) for x in range(0, 13)]

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

In [26]:
[(x**2) for x in range(0, 13)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [27]:
[(2**x) for x in range(1, 13)]

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

In [25]:
slicing= [1, 12, 123, 1234, 133, 1345, 1239]
new_list= slicing[-7:-1]
print(new_list)

[1, 12, 123, 1234, 133, 1345]

In [31]:
slicing= [1, 12, 123, 1234, 133, 1345, 1239]
new_list= slicing[:-2:2]
print(new_list)

[1, 123, 133]

In [37]:
slicing= [1, 12, 123, 1234, 133, 1345, 1239]
new_list= slicing[-7:-1:3]
print(new_list)

[1, 1234]

In [38]:
votes={'red':3, 'blue':5}
votes.keys()

dict_keys(['red', 'blue'])