In [11]:
x = ('my name is khan'+ " "+ '2')
print(x)

my name is khan 2

In [12]:
len(x)

17

In [42]:
numbers=12
print('the given numbers are whole numbers that are'+" "+str(numbers))

the given numbers are whole numbers that are 12

In [3]:
numbers= input('Enter your numbers;')
print('the given numbers are whole numbers that are'+" "+numbers)

Enter your numbers;12
the given numbers are whole numbers that are 12

In [22]:
min_wage=12
print(f'the min wage in your state is', str(min_wage))

the min wage in your state is 12

In [23]:
min_wage=
print(f'the min wage in your state is'+'min_wage')

the min wage in your state ismin_wage

In [5]:
min_wage= int(input('Enter your waage:'))
print(f'the min wage in your state is', (min_wage))

Enter your waage:1234
the min wage in your state is 1234

In [4]:
minn_wage=input('Enter your waage:')
print(f'the min wage in your state is'+ minn_wage)

Enter your waage:same
the min wage in your state issame

# For loop

In [1]:
for i in range(4):
    print(i)

0
1
2
3

In [8]:
for i in 'pakistan':
    print(i)

p
a
k
i
s
t
a
n

In [4]:
fav_books=['Quran', 'Bukhari','Muslim','Alchemist']
user_fav=[]
user_book=input("Enter your favoiurite book:")
for fav in fav_books:
    user_fav.append(fav_books.pop())
print(user_fav)
print(fav_books)

Enter your favoiurite book:Muslim
['Alchemist', 'Muslim']
['Quran', 'Bukhari']

In [15]:
for num in range(6):
    print(num)

0
1
2
3
4
5

In [14]:
numbers=[1,2,3,4,5,6,7,8.9]
num_list=[]
for num in numbers:
    num_list.append(num*3)
    print(num*3)

3
6
9
12
15
18
21
26.700000000000003

In [17]:
for i in "pakistan":
    if i=='k':
        continue
    print(i)

p
a
i
s
t
a
n

In [18]:
for i in "pakistan":
    if i=='k':
        break
    print(i)

p
a

In [29]:
user_v=int(input('Enter Your number:'))
for num in range(11,0,-1):
    print(f'{user_v}*{num}=',user_v*num)

Enter Your number:5
5*11= 55
5*10= 50
5*9= 45
5*8= 40
5*7= 35
5*6= 30
5*5= 25
5*4= 20
5*3= 15
5*2= 10
5*1= 5

##

In [6]:
for i in 'pakistan':
    for l in range(5):
        print(i,l,end='')

p 0p 1p 2p 3p 4a 0a 1a 2a 3a 4k 0k 1k 2k 3k 4i 0i 1i 2i 3i 4s 0s 1s 2s 3s 4t 0t 1t 2t 3t 4a 0a 1a 2a 3a 4n 0n 1n 2n 3n 4

In [11]:
f_name=['kauser','faryal','zainab','bima']
l_name=['Naeem','Ajaz']
full_name=[]
for f in f_name:
    for l in l_name:
        full_name.append(f+" "+l)
print(full_name)

['kauser Naeem', 'kauser Ajaz', 'faryal Naeem', 'faryal Ajaz', 'zainab Naeem', 'zainab Ajaz', 'bima Naeem', 'bima Ajaz']

In [35]:
clean_city_tocheck=input('enter the clean city;')
clean_city_tocheck=clean_city_tocheck.lower()
cleanest_city=['lahore', 'karachi', 'islamabad']
for c_city in cleanest_city:
    if clean_city_tocheck==c_city:
        print('it is cleanest_city')

enter the clean city;lahore
it is cleanest_city

In [34]:
city_to_check = input("Enter your city: ")
city_to_check = city_to_check.lower()
cleanest_cities = ["cheyenne", "santa fe","tucson", "great falls", "honolulu"]
for a_clean_city in cleanest_cities:
    if city_to_check == a_clean_city:
        print("It's one of the cleanest cities")

Enter your city: great falls
It's one of the cleanest cities

# Python crash practice remaining chap 3

In [26]:
fav_coun=['Makkah', 'Medina', 'Switz', 'Northern areas', 'Pak']

In [11]:
fav_coun

['Makkah', 'Medina', 'Switz', 'Northern areas', 'Pak']

In [12]:
sorted(fav_coun)

['Makkah', 'Medina', 'Northern areas', 'Pak', 'Switz']

In [13]:
fav_coun

['Makkah', 'Medina', 'Switz', 'Northern areas', 'Pak']

In [20]:
fav_coun.sort()
fav_coun

['Makkah', 'Medina', 'Northern areas', 'Pak', 'Switz']

In [21]:
fav_coun.sort(reverse=True)

In [22]:
fav_coun

['Switz', 'Pak', 'Northern areas', 'Medina', 'Makkah']

In [28]:
 fav_coun.sort(reverse=True)

In [29]:
fav_coun.reverse()

In [30]:
fav_coun

['Makkah', 'Medina', 'Northern areas', 'Pak', 'Switz']

In [34]:
fav_coun.reverse()
fav_coun

['Switz', 'Pak', 'Northern areas', 'Medina', 'Makkah']

In [57]:
pizzas=['Tikka', 'Peperoni', 'Afghani', 'Delicious']
for pizzy in pizzas:
    for i in range(2):
        print(pizzy)

Tikka
Tikka
Peperoni
Peperoni
Afghani
Afghani
Delicious
Delicious

In [59]:
pizzas=['Tikka', 'Peperoni', 'Afghani', 'Delicious']
for pizzy in pizzas:
    print(pizzy)

Tikka
Peperoni
Afghani
Delicious

In [65]:
pizzas=['Tikka', 'Peperoni', 'Afghani', 'Delicious']
for pizzy in pizzas:
    print(pizzy)
for i in range(2):
    print(i,pizzy)

Tikka
Peperoni
Afghani
Delicious
0 Delicious
1 Delicious

In [2]:
squares=[]
for square in range(1,11):
    squares.append(square**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
list=[1, 2, 3, 4, 5, 66]

In [5]:
sum(list)

81

In [9]:
numbers= list(range(1,11))

TypeError: 'list' object is not callable

In [2]:
squares=[value**2 for value in range(1,20)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [17]:
for value in range(1,20):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [22]:
nums=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,]
for num in nums:
    pass
print(sum(nums))

325

In [28]:
nums=[]
for num in range(1,11,2):
    nums.append(num)
print(nums)

[1, 3, 5, 7, 9]

In [40]:
table=int(input('Enter your number:'))
for i in range(1,20):
    print(f'3 *{i} = {table*i}')

Enter your number:3
3 *1 = 3
3 *2 = 6
3 *3 = 9
3 *4 = 12
3 *5 = 15
3 *6 = 18
3 *7 = 21
3 *8 = 24
3 *9 = 27
3 *10 = 30
3 *11 = 33
3 *12 = 36
3 *13 = 39
3 *14 = 42
3 *15 = 45
3 *16 = 48
3 *17 = 51
3 *18 = 54
3 *19 = 57

In [41]:
for cube in range(1,12):
    print(cube**3)

1
8
27
64
125
216
343
512
729
1000
1331

In [42]:
numbers=[value**3 for value in range(1,12)]
print(numbers)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331]

In [44]:
num=[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331]
for nums in num:
    print(nums)

1
512
19683
262144
1953125
10077696
40353607
134217728
387420489
1000000000
2357947691

In [4]:
num=[1, 2, 3, 4, 5, 6, 7, 8]
print(num[:4])

[1, 2, 3, 4]

In [7]:
cities=['karachi', 'lahore', 'sukhar', 'muree', 'naran']
print('These are some countries.')
for city in cities[-3:]:
    print(city.title())

These are some countries.
Sukhar
Muree
Naran

In [8]:
A=(1, 2, 3, 4, 5, 6)

In [9]:
type(A)

tuple

In [10]:
len(A)

6

In [12]:
A[2]

3

In [14]:
A[1:3]

(2, 3)

In [17]:
A=(1, 2, 3, 4, 5, 6)
for a in A:
    pass
print(A)

(1, 2, 3, 4, 5, 6)

In [21]:
info_123={'Name':'Faryal', 'Adress':'Defence', 'Age':'23'}

In [23]:
user_to_check=info_123['Age']
print(user_to_check)

23

In [3]:
info_13={'name':'shaban',
         'age':23, 
        3:'anum'}

In [4]:
info_13

{'name': 'shaban', 'age': 23, 3: 'anum'}

In [6]:
information= info_13['name']

In [7]:
print(information)

shaban

In [8]:
info_13['address']='Defence'
print(info_13)

{'name': 'shaban', 'age': 23, 3: 'anum', 'address': 'Defence'}

# Function

In [6]:
def sub_ans(value_1,value_2):
    c=value_1-value_2
    print(c)

In [8]:
sub_ans(10,5)

5

In [9]:
def full_name(name):
    print(f'my name is {name}')

In [11]:
full_name('faryal')

my name is faryal

In [2]:
def give_me_full_name(first_name,last_name):
    print(f'{first_name} {last_name}')

In [8]:
give_me_full_name(last_name='naeem',first_name='faryal')

faryal naeem

In [9]:
def calc_tax(sales_tax,tax_rate):
    print(sales_tax*tax_rate)

In [10]:
calc_tax(sales_tax=100.20,tax_rate=0.5)

50.1

In [11]:
def calc_tax(sales_tax,tax_rate=0.4):
    print(sales_tax*tax_rate)

In [12]:
calc_tax(sales_tax=200)

80.0

In [13]:
def calc_tax(sales_tax,tax_rate=0.4):
    print(sales_tax*tax_rate)

In [15]:
calc_tax(200)

80.0

In [29]:
def print_order(colour,size,location,engraving_text=' '):
    print(f'The dress is {colour} {size} and location is {location} and engraving is{engraving_text} ')

In [32]:
print_order('pink','medium','karachi','.')

The dress is pink medium and location is karachi and engraving is.

In [10]:
def give_greetings(greeting,first_name='AI'):
    print(f'{greeting} {first_name}')

In [11]:
give_greetings('Hello')

Hello AI

In [27]:
def give_greetings(greeting,first_name,flattering_boyname='wonder boy'):
    print(f'{greeting} {first_name} {flattering_boyname}')

In [28]:
give_greetings('hello',first_name='AI')

hello AI wonder boy

In [79]:
customer= {
0:{'First_name':'Faryal Bibi',
'Last_name':'Naeem', 
'Adress':'Defence',
}, 
1:{'First_name':'Bismillah', 
'Last_name':'Naeem ul haq', 
'Adress':'Defence 4',     
}, 
2:{'First_name':'Rabia', 
'Last_name':'Naeem ul haqq', 
'Adress':'Defence 2',
},
}
def find_something(dict, inner_dict, target):
    print(dict[inner_dict][target])

In [80]:
find_something(customer, 2, 'Last_name')

Naeem ul haqq

In [46]:
customers = {
 0: {
"first name":"John",
 "last name": "Ogden",
 "address": "301 Arbor Rd.",
 },
 1: {
 "first name":"Ann",
 "last name": "Sattermyer",
 "address": "PO Box 1145",
 },
 2: {
 "first name":"Jill",
 "last name": "Somers",
 "address": "3 Main St.",
 },
 }
#Let's say we want to find the last name of customer 2.
#This is the function call:
def find_something(dict, inner_dict, target):
    print(dict[inner_dict][target])

In [48]:
find_something(customers, 2, "last name")

Somers

In [25]:
#chapter= 46
def soccer_team(winner,loser,**other_info):
    print('winner is'+ winner)
    print('loser is'+ loser)
    for key, value in other_info.items():
        print(key+":"+value)
    # Double steirc means that two or more optional argumaent can be passed

In [26]:
soccer_team(winner='ajaz', loser='ali', run_rate='3', speed='medium')

winner isajaz
loser isali
run_rate:3
speed:medium

In [38]:
def soccer_team(winner,loser,*other_info):
    print(winner)
    print( loser)
    print(other_info)

In [39]:
soccer_team('ajaz','ali','samia')

ajaz
ali
('samia',)

In [40]:
def soccer_team(winner,loser,*other_info):
    print(winner)
    print( loser)
    print(other_info)
    #positiion argument in this case represented by single steric

In [41]:
soccer_team(10,20,300,400)#line 4 is represented in tuple

10
20
(300, 400)

In [10]:
def calc_tax(sales_total, tax_rate):
    tax = sales_total * tax_rate
    return tax
#You rewrite the calling statement so it has a place to put the value passed to
#it by the functionâ€¦

In [12]:
sales_tax = calc_tax(sales_total=101.37,
tax_rate=.05)
print(sales_tax)

5.0685

In [1]:
#chapt 48

In [29]:
def add_numbers(first_num,second_num):
    return first_num + second_num

In [30]:
def sub_numbers(first_num,second_num):
    return first_num-second_num

In [22]:
result1=add_numbers(12,13)

In [23]:
result2=sub_numbers(10,15)

In [25]:
sum=result1+result2
sum

20

In [33]:
#or other method of calling which is quick 
sum=add_numbers(10,19)+sub_numbers(20,10)
print(sum)

39