In [1]:
print('hello world')

hello world

In [21]:
print(123)
print('my new id is ' + str(123))

123
my new id is 123

In [3]:
a="hello world"
print(a)
print()

hello world

In [22]:
print("123") 
print('my new id is ' + str(123))

123
my new id is123

In [24]:
bibi='nana'
print(bibi)

nana

In [25]:
print(2+2)

4

In [27]:
print(4+4)
print(22.9)

8
22.9

In [29]:
print('hello',12,14,'nana',sep='@')

hello@12@14@nana

In [30]:
num_1=234
num_2=777
print(num_1,num_2)

234 777

In [31]:
number=24.6
total_sum= number+12
print(total_sum)

36.6

In [32]:
type(number)

float