# if statement

In [6]:
a = 10
b= 20

In [7]:
a>b

False

In [13]:
if a>b:
    print("it is true")
    print("it is true")
else:
    print("your value is greater")

your value is greater

In [18]:
a = 5
b = 6
if a>b:
    print("your a value is less than b")
else:
    print("your a value is greater")

your a value is greater

In [19]:
if a + b == 11:
    print("good")
else:
    print("wrong")

good

In [20]:
temp =input()

23

In [1]:
temp = int(input("Enter your temperature value:"))#type caste
if temp>30:
    print("the temp is hot today")
else:
    print("the temp is normal today")

Enter your temperature value:20
the temp is normal today

# Nested if's

In [7]:
cnic = input("Do you have your cnic:")
if cnic == 'yes':
    print("you can go in")
    nameInList = input("Is your name in list")
    if nameInList == 'yes':
        print("caste your vote")
    else:
        print("you can not caste vote")
else:
    print("you can not caste vote")

Do you have your cnic:yes
you can go in
Is your name in listyes
caste your vote

In [ ]:
education@piaic.org

# if elif else

In [5]:
marks = int(input("enter your marks:"))
grade = " "
if marks >=90:
    grade="A*"
elif marks >=80:
    grade="A"
elif marks >=70:
    grade="B"
elif marks >=60:
    grade="C"
else:
    print("you are ungraded try again.your marks are 50 or less than 50 and your grade is F")
print(f"your marks are {marks} and your grade is {grade}")

enter your marks:50
you are ungraded try again.your marks are 50 or less than 50 and your grade is F
your marks are 50 and your grade is

In [9]:
# even_no= int(input("enter your value:"))
# b=even_no%2
# if b == 2:
#     print("value is even") by control forward slash,for para comments use single quote

enter your value4

In [9]:
cnic = input("do you have cnic:")
nameInList =input("is your name in list:")
if cnic == 'yes' and nameInList == 'yes':
    print('please caste your vote')
else:
    print('you cannot vote')
# and is same as if meansevery condition should be true,,or is same as elif statement means kuj b aik theek hojae condition

do you have cnic:yes
is your name in list:yes
please caste your vote

# Lists

In [1]:
students = ["fatima", "asad", "subhan"]
students[1]
#list can hold multiple data type ...and sizis not define
#list is also a sub data type

SyntaxError: invalid syntax (<ipython-input-1-82a1fa15f5a6>, line 5)

In [2]:
type students

SyntaxError: invalid syntax (<ipython-input-2-df8e99912c10>, line 1)

In [ ]:
a= ['baba', 12, "true"]

In [17]:
students.append("faryal")

In [18]:
students

['fatima', 'asad', 'subhan', 'faryal']

In [19]:
students.insert(2,"nana")

In [20]:
students

['fatima', 'asad', 'nana', 'subhan', 'faryal']

In [21]:
del students[0]

In [22]:
students

['asad', 'nana', 'subhan', 'faryal']

In [24]:
students[2]="haha"#replace object

In [25]:
students

['asad', 'nana', 'haha', 'faryal']

In [10]:
studentss=['nana', 'nani', 'dada', 'dadi'] 
#insert
studentss.insert(1,'fatima') #to check signature shift+tab
studentss

['nana', 'fatima', 'nani', 'dada', 'dadi']

In [12]:
studentss.insert(100,"amna")
studentss

['nana', 'fatima', 'nani', 'dada', 'dadi', 'amna', 'amna']

In [13]:
studentss.index('dadi')#to find the indeex no of string

4

In [21]:
cities = ['karachi', 'lahore', 'islamabad', 'sukhar']

In [22]:
cities.append('karachi')

In [23]:
cities.remove('lahore')
cities

['karachi', 'islamabad', 'sukhar', 'karachi']