In [1]:
var_1=1234

In [2]:
type(1234)

int

In [4]:
name="faryal"
print(name)

faryal

In [5]:
name=True
print(name)

True

In [6]:
_=23
_

23

In [7]:
name

True

# mathematical operator

In [8]:
a=2
b=3
a+b

5

In [9]:
a/b

0.6666666666666666

In [10]:
a//b

0

In [11]:
print("for int div //")

for int div //

In [12]:
a%b

2

In [14]:
c=a+b

In [15]:
a=14
b=13
c=a+b

In [16]:
c

27

In [17]:
c=c+3

In [18]:
c

30

In [19]:
c +=3
c

33

In [20]:
c*=2
c

66

In [21]:
c/=2
c

33.0

In [22]:
3**2

9

In [23]:
(3+2)*2 +3*5/2

17.5

In [24]:
(3+2)*2 +3**5/2

131.5

In [25]:
a=3
b=5

In [26]:
a>b

False

In [27]:
a<b

True

In [28]:
a<=b

True

In [29]:
a!=b

True

# Concatenating text string

In [37]:
first_name="faryal"
last_name= "naeem"
print(first_name+" "+last_name)

faryal naeem

In [35]:
len(first_name)

7

In [2]:
print("hello"+123)

TypeError: can only concatenate str (not "int") to str

In [39]:
# type caste

In [41]:
a=20
type(a)

int

In [42]:
str(a)

'20'

In [44]:
print("the number is " + str(a))

the number is 20

In [45]:
a=str(a)

In [47]:
print("the number is " + a)

the number is 20

In [48]:
name="faryal"
age=23
print("my name is name and my age is age")

my name is name and my age is age

In [6]:
str(age)
print("my name is 'name' + "and my age is" + str(age))

NameError: name 'age' is not defined

# format

In [53]:
name="faryal"
age=23
print("my name is {} and my age is {}.".format(name,age))

my name is faryal and my age is 23.

In [54]:
print("my name is {0} and my age is {1}. and my age is {1}".format(name,age))

my name is faryal and my age is 23. and my age is 23

In [56]:
print('f"my name is {name}and my age is{age}.')

f"my name is {name}and my age is{age}.