# Fancy indexing

In [1]:
import numpy as np

In [14]:
arr = np.empty((8,4))

In [20]:
for i in range(8):
    arr[i] = i
arr

array([[0., 0., 0., 0.],
       [1., 1., 1., 1.],
       [2., 2., 2., 2.],
       [3., 3., 3., 3.],
       [4., 4., 4., 4.],
       [5., 5., 5., 5.],
       [6., 6., 6., 6.],
       [7., 7., 7., 7.]])

In [22]:
arr[[1,4,6]]

array([[1., 1., 1., 1.],
       [4., 4., 4., 4.],
       [6., 6., 6., 6.]])

In [24]:
arr = np.arange(32).reshape(8,4)
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31]])

In [26]:
arr[[-1,-3,-2]]

array([[28, 29, 30, 31],
       [20, 21, 22, 23],
       [24, 25, 26, 27]])

In [30]:
arr[[1,3,6],[0,3,1]]

array([ 4, 15, 25])

In [31]:
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31]])

In [38]:
arr.T

array([[ 0,  4,  8, 12, 16, 20, 24, 28],
       [ 1,  5,  9, 13, 17, 21, 25, 29],
       [ 2,  6, 10, 14, 18, 22, 26, 30],
       [ 3,  7, 11, 15, 19, 23, 27, 31]])

In [41]:
arr1 = np.arange(12).reshape(2,2,3)
arr1

array([[[ 0,  1,  2],
        [ 3,  4,  5]],

       [[ 6,  7,  8],
        [ 9, 10, 11]]])

In [51]:
arr1.transpose(1,0,2)

array([[[ 0,  1,  2],
        [ 6,  7,  8]],

       [[ 3,  4,  5],
        [ 9, 10, 11]]])

In [52]:
arr1.transpose(0,2,1)

array([[[ 0,  3],
        [ 1,  4],
        [ 2,  5]],

       [[ 6,  9],
        [ 7, 10],
        [ 8, 11]]])

In [7]:
arr = np.arange(8).reshape(2,2,2)

In [8]:
arr

array([[[0, 1],
        [2, 3]],

       [[4, 5],
        [6, 7]]])

In [13]:
np.swapaxes(arr,0,1)

array([[[0, 1],
        [4, 5]],

       [[2, 3],
        [6, 7]]])

In [48]:
import numpy as np
a = np.arange(1,4)
a

array([1, 2, 3])

In [41]:
c = np.arange(8).reshape(4,2)
c

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7]])

In [42]:
 c+a

ValueError: operands could not be broadcast together with shapes (4,2) (4,)

In [55]:
a= np.array([1,2])
a

array([1, 2])

In [56]:
c+a

array([[1, 3],
       [3, 5],
       [5, 7],
       [7, 9]])

In [57]:
b= ([8,9,7,88,-1])

In [59]:
a= np.array(b)
a

array([ 8,  9,  7, 88, -1])

In [61]:

a%2==0

array([ True, False, False,  True, False])

In [62]:
a[a%2==0]

array([ 8, 88])

In [ ]:

np.where(s)

In [85]:
salary = np.array([-1,10000,20000])

In [86]:
np.where(salary<0,10000,salary)

array([10000, 10000, 20000])

In [87]:
np.where(salary<10000,np.mean(salary),salary)

array([ 9999.66666667, 10000.        , 20000.        ])

In [90]:
salary.transpose()

array([   -1, 10000, 20000])

In [91]:
np.transpose(salary)

array([   -1, 10000, 20000])

In [92]:
a=np.array ([1,3,4,5,6])

In [93]:
np.cumsum(a)

array([ 1,  4,  8, 13, 19], dtype=int32)

In [94]:
np.cumproduct(a)

array([  1,   3,  12,  60, 360], dtype=int32)

In [40]:
x= np.array([1,13,10,5,2])

In [7]:
(x>5).sum()

2

In [9]:
a=x>5
a.any()

True

In [11]:
a= a>=10
a.all()

False

In [22]:
names = np.array(['ali', 'sami', 'javaid', 'saleem', 'ajaz','ali'])

In [23]:
(names =='ali').sum()

2

In [24]:
a= names=='sami'
a.any()

True

In [27]:
np.sort(names)

array(['ajaz', 'ali', 'ali', 'javaid', 'saleem', 'sami'], dtype='<U6')

In [28]:
np.unique(names)

array(['ajaz', 'ali', 'javaid', 'saleem', 'sami'], dtype='<U6')

In [39]:
print(x)

[[ 0.9918836  -1.06778692 -0.02688711]
 [-0.09472486 -1.32323905  0.34262163]]

In [43]:
np.save('come.npy',x)

In [44]:
np.load('come.npy')

array([ 1, 13, 10,  5,  2])

In [45]:
y=np.random.randn(2,3)
y

array([[-0.60201378, -0.57462126,  0.03174224],
       [ 0.79823463, -0.24687498,  0.51003951]])

In [55]:
np.savez('double.npz',a1 =x, a2 = y)

In [59]:
a= np.load('double.npz')
a['a1']

array([ 1, 13, 10,  5,  2])

In [63]:
n= np.arange(10).reshape(5,2)
n

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [66]:
m= np.arange(4).reshape(2,2)
m

array([[0, 1],
       [2, 3]])

In [65]:
np.dot(n,m)

array([[ 2,  3],
       [ 6, 11],
       [10, 19],
       [14, 27],
       [18, 35]])

In [2]:
d= np.random.randn(5,5)

In [3]:
np.diag(d)

array([-0.78098422,  1.08572714, -0.25458295,  0.44825631,  1.26770242])

In [2]:
import numpy as np

In [9]:
np.linalg.eig(d)

(array([-1.44162114+0.j        ,  1.23387794+0.97475493j,
         1.23387794-0.97475493j,  0.77207979+0.j        ,
        -0.03209582+0.j        ]),
 array([[-0.90600934+0.j        , -0.12512775-0.19578066j,
         -0.12512775+0.19578066j, -0.12628146+0.j        ,
          0.33165708+0.j        ],
        [ 0.09206572+0.j        ,  0.22497969-0.41919386j,
          0.22497969+0.41919386j,  0.59482561+0.j        ,
          0.43228838+0.j        ],
        [ 0.02652534+0.j        , -0.47394972-0.21324509j,
         -0.47394972+0.21324509j, -0.06788177+0.j        ,
          0.42917032+0.j        ],
        [-0.39229234+0.j        ,  0.04570926+0.19549448j,
          0.04570926-0.19549448j,  0.26066247+0.j        ,
         -0.35075233+0.j        ],
        [-0.12678372+0.j        ,  0.63973775+0.j        ,
          0.63973775-0.j        ,  0.74678151+0.j        ,
          0.62921854+0.j        ]]))

In [15]:
np.random.seed(2)
np.random.randn(2,2)

array([[-0.41675785, -0.05626683],
       [-2.1361961 ,  1.64027081]])

In [17]:
x= np.arange(10).reshape(2,5)
x

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [18]:
y= np.arange(10,30).reshape(4,5)
y

array([[10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29]])

In [21]:
np.concatenate((x,y))

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29]])

In [23]:
np.vstack((x,y))

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29]])

In [31]:
a= np.arange(1,11).reshape(5,2)
a

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10]])

In [32]:
b= np.arange(11,31).reshape(5,4)
b

array([[11, 12, 13, 14],
       [15, 16, 17, 18],
       [19, 20, 21, 22],
       [23, 24, 25, 26],
       [27, 28, 29, 30]])

In [30]:
np.concatenate((a,b),axis= 1 )

array([[ 1,  2, 11, 12, 13, 14],
       [ 3,  4, 15, 16, 17, 18],
       [ 5,  6, 19, 20, 21, 22],
       [ 7,  8, 23, 24, 25, 26],
       [ 9, 10, 27, 28, 29, 30]])

In [34]:
np.hstack((a,b))

array([[ 1,  2, 11, 12, 13, 14],
       [ 3,  4, 15, 16, 17, 18],
       [ 5,  6, 19, 20, 21, 22],
       [ 7,  8, 23, 24, 25, 26],
       [ 9, 10, 27, 28, 29, 30]])

In [39]:
np.c_[a,b]

array([[ 1,  2, 11, 12, 13, 14],
       [ 3,  4, 15, 16, 17, 18],
       [ 5,  6, 19, 20, 21, 22],
       [ 7,  8, 23, 24, 25, 26],
       [ 9, 10, 27, 28, 29, 30]])

In [40]:
np.r_[x,y]

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29]])

In [63]:
b = np.arange(1,21)
b

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [64]:
b.reshape((5,4),order= 'C')

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20]])

In [55]:
b.reshape((5,4),order= 'F')

array([[ 1,  6, 11, 16],
       [ 2,  7, 12, 17],
       [ 3,  8, 13, 18],
       [ 4,  9, 14, 19],
       [ 5, 10, 15, 20]])

In [68]:
z = np.random.randn(1000,2)

In [51]:
z.reshape(2,-1)

array([[-1.33485001, -1.33865239, -0.88362712, ..., -0.9340666 ,
         1.18622602, -1.47242398],
       [ 0.8595415 ,  0.93809998, -1.47691215, ...,  1.37783197,
         0.91607276, -0.46648571]])

In [53]:
z.shape

(1000, 2)

In [66]:
z

array([[-1.33485001, -1.33865239],
       [-0.88362712,  0.30697263],
       [ 0.66996449, -0.28334632],
       ...,
       [-0.4408608 ,  0.85683872],
       [-1.56976429,  1.37783197],
       [ 0.91607276, -0.46648571]])

In [100]:
z= np.arange(1,11).reshape(5,2)
z

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10]])

In [102]:
s=z.ravel()
s

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [103]:
s[1]= 0

In [104]:
s

array([ 1,  0,  3,  4,  5,  6,  7,  8,  9, 10])

In [106]:
z

array([[ 1,  0],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10]])

In [97]:
y= np.arange(1,11).reshape(5,2)
y

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10]])

In [108]:
t=y.flatten()

In [111]:
t[1]=1

In [112]:
t

array([ 1,  1,  3,  4,  5,  6,  7,  8,  9, 10])

In [113]:
y

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10]])